DATABASE_URL="postgresql://wepac:password@localhost:5432/wepac_production"
NEXTAUTH_SECRET="generate-a-random-32-char-secret"
NEXTAUTH_URL="https://wepac.pt"
SMTP_HOST="localhost"
SMTP_PORT="25"
SMTP_FROM="info@wepac.pt"
APP_URL="https://wepac.pt"
