@import "tailwindcss";

@theme inline {
  --color-wepac-black: #000000;
  --color-wepac-white: #FFFFFF;
  --color-wepac-gray: #DEE0DB;
  --color-wepac-dark: #0A0A0A;
  --color-wepac-borgonha: #691515;
  --color-wepac-borgonha-light: #8B1E1E;
  --color-wepac-card: #1A1A1A;
  --color-wepac-input: #2A2A2A;
  --color-wepac-border: #2A2A2A;
  --color-wepac-text-secondary: #E5E5E5;
  --color-wepac-text-tertiary: #999999;
  --font-barlow: "Barlow", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
}

body {
  background: var(--color-wepac-black);
  color: var(--color-wepac-white);
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar minimal */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
